@font-face {
  font-family: 'alte_haas_grotesk_regular';
  src: url('../media/fonts/alte_haas_grotesk_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alte_haas_grotesk_bold';
  src: url('../media/fonts/alte_haas_grotesk_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'input_mono_regular';
  src: url('../media/fonts/input_mono_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'input_mono_medium';
  src: url('../media/fonts/input_mono_medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}